*{margin:0 auto; padding: 0}
body{
	background: black;
}

.clear{clear:both;}
ul,li{list-style:none;}
#box{
	
	width:500px;
	height: 700px;
	background:white;
	margin-top: 50px;
	border-radius:10px;
	box-shadow:0 0 10px #ddd;
}
@media(max-width:700px){
	#box{
		width:100%;
		height:100%;
		margin-top: 0px;
	}
	h2{
		margin:0;
	}
}
#box h2{
	text-align: center;
	height:40px;
	line-height: 45px;
	position:relative;
}
#box h2 span.online{
	position: absolute;
	top:0;
	right:3px;
	font-size: 16px;
	color:#999;
}
#box hr{margin: 0px;}

#content{
	width:100%;
	height:590px;
	overflow-y: scroll;
}

#content ul.mycont li.message{
	width:100%;
	height:30px;
	line-height:30px;
	text-indent: 15px;
}
#content ul.mycont li.mypic{
	width:100%;
	min-height:30px;
	line-height:30px;
	text-indent: 15px;
}
#content ul.mycont li.mypic img{
	width:50px; height:50px;
}
#content ul.mycont li span.time{
	color:#ddd;
}

#biaoqing{
	position:relative;
}
#biaoqing img{
	height:30px;
	cursor:pointer;
	border:1px solid #eee;
}
#biaoqing img:hover{
	border:1px solid #aaa;
}
#biaoqing ul.emoit{
	display:none;
	width:100%;
	position:absolute;
	background:#eee;
}
#biaoqing ul.emoit li{
	margin-left:5px;
	float: left;
	width:30px;
	height:30px;
}


/*****遮罩层******/
#zhezhao{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(255, 255, 255, 0.2);
}
#zhezhao .juzhong{
	width:200px;
	position:absolute;
	left:50%;
	margin-left: -100px;
	top:50%;
	margin-top: -50px;
}
#tips{
	display:none;
	line-height: 30px;
	text-indent:10px;
	color:red;
}